body {
	background-color:blue;
}

p {
	color: white;
	margin : 0 50px;
}


#navbar {
	
	background-color: #224863;
	margin-left: 0;
	top:0;
	left:0;
}
	
#navBar ul li a {
	text-decoration: none;
	color: #fff;
	
}
#navBar ul {
	list-style-type: none;
	margin-left: -10px;
	margin-left: 0;
	top:0;
	left:0;
}
	
#navBar ul li a {
	text-decoration: none;
	color: #fff;
	
}

#navBar ul {
	list-style-type: none;
	margin-left: -10px;

h1 {
	background-color: navy;